body {
    background-image: linear-gradient(to right, deeppink, blue);

}

header {
    height: 80px;
    

}

header h1 {
    font-size: 35px;
    color: powderblue;
    padding-top: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.slidebar
{
    width:100%;
    height:100%;
    background-color:burlywood;
}





#demo 
{
    width: 930px;
    margin: auto;
    height: auto;
}

.carousel-inner {
    width: 930px;
    margin: auto;
    height: 530px;
    padding: 10px;
    box-sizing: border-box;



}

.carousel-item img {
    width: 450px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    padding: 4px;

}

footer {
    width: 100%;
    height: 60px;
    margin-top: 6px;
    background-color:peru;
    padding-top: 10px;
    border: 2px solid lightpink;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: powderblue;
    font-family: 'Open Sans', sans-serif;


}
#flexContainer {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#flexContainer div {
    width: 400px;
    height: 180px;
    background-image: linear-gradient(to right bottom,orange,darkmagenta);
    border: 1px solid red;
    padding: 20px;
    box-sizing: border-box;
}

#flexContainer #buttons {
    width:400px;
    height: 50px;
    padding: 0px;
}

#flexContainer h2 {
    color:red;
}

#flexContainer HR {
    margin-bottom: 5px;
}

#flexContainer button {
    float: right;
    margin-right: 10px;
}
#finalBill
{
	padding:0px;
	
	overflow-x:auto;
	border-radius:3%;
	box-sizing:border-box;
	
	overflow-y:auto;
	

    z-index:5;
    display:none;
width:550px;top:10px;left:350px;position:fixed;height:560px;	
	
}

#finalBill #bankInfo
{
	
	height:215px;
	overflow-x:auto;
	display:none;
	
	
	border:1px solid burlywood;
	border-radius:3%;
	margin:auto;
width:530px;padding:10px;box-sizing:border-box;
}

#bankInfo img
{
	width:30px;
	margin:auto auto auto 15px;
}


#finalBill #billTable
{
	
	
	overflow-x:auto;
	background-color:darkmagenta;
	border-radius:3%;
  
    border:1px solid burlywood;
   
    margin:auto;
width:530px;padding:30px;box-sizing:border-box;height:310px;overflow-y:auto;
    
}

#finalBill h2
{
	margin:auto;
	padding:0px;
	color:burlywood;
	
}

#bankInfo input[type="text"]
{
	border-radius:4px;
	border:1px solid black;
}

#bankInfo input[type="password"]
{
	border-radius:4px;
}

.table-product-heading
{
	width:140px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:burlywood;
	text-align:center;
}

.table-items-heading
{
	width:50px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:burlywood;
	text-align:center;
}

.table-product-content
{
	width:140px;
	height:140px;
	padding:20px;
	box-sizing:border-box;
	text-align:center;
}

.table-product-items
{
	width:50px;
	height:140px;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	color:burlywood;
}

.table-product-total
{
	width:70px;
	padding:20px;
	text-align:center;
	height:140px;
	box-sizing:border-box;
	color:burlywood;
}

.table-total-heading
{
	width:70px;
	height:50px;
	padding:20px;
	box-sizing:border-box;
	color:burlywood;
	text-align:center;
}

#billTable table
{
	width:310px;
	height:auto;
	margin:auto;
	border:1px solid burlywood;
	border-collapse:collapse;
}
#billTable th,td
{
	color:burlywood;
	border:1px solid burlywood;
	font-weight:600;
}

#finalBill #buttons2
{
	
	overflow-x:auto;
	height:50px;
	
	box-sizing:border-box;
width:530px;padding:0px 10px 0px 10px;
	
}

#buttons2 #backToCart
{
	float:left;
	margin:0px auto 0px 10px;
	height:50px;
}

#buttons2 #pay
{
	float:right;
	margin:0px 10px 0px auto;
	height:50px;

}



	
